<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet"  href="fragments.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>Baserunning statistics</title>
</head>
<body>
<div th:replace = "navigation.html" :: navbar>
</div>
<div id="bg-image"></div>

<div class="card" style="width: 80%; margin-left: 10%; margin-top: 20px;">
    <div class="card-body">
        <h5 class="card-title" style="font-size: 40px;">Baserunning statistics</h5>
        <table class="table" id="table">
            <thead>
            <tr align="center">
                <th>Number</th>
                <th>First name</th>
                <th>Last name</th>
                <th>cs</th>
                <th>sb</th>
                <th>r</th>

            </tr>
            </thead>

            <tbody>
            <tr th:each="players, rowStat: ${playersList}"
                th:style="${rowStat.odd} ? 'color: gray;'"
                th:align="center">
                <td th:text="${players.number}"></td>
                <td th:text="${players.first_name}"></td>
                <td th:text="${players.last_name}"></td>
                <td th:text="${players.baserunning_statistics.cs}"></td>
                <td th:text="${players.baserunning_statistics.sb}"></td>
                <td th:text="${players.baserunning_statistics.r}"></td>
            </tr>
            </tbody>

        </table>
    </div>
</div>

</body>
</html>